flows-19.json
[
    {
        "id": "f8778ff4.caf6b",
        "type": "tab",
        "label": "V3 Raw On Demand",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6ee4f293.482d3c",
        "type": "inject",
        "z": "f8778ff4.caf6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"devices\":[\"00:13:a2:00:41:b1:72:47\"]}",
        "payloadType": "json",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "efaab95f.f76e48"
            ]
        ]
    },
    {
        "id": "efaab95f.f76e48",
        "type": "function",
        "z": "f8778ff4.caf6b",
        "name": "Add incomming device to context",
        "func": "var newDevices = msg.payload.devices;\nvar existingDevices = flow.get('devices');\n\nif(typeof existingDevices == 'undefined'){\n    flow.set('devices',newDevices);\n    msg.payload.devices = newDevices;\n    return msg;\n}else{\n    for(let newDevice of newDevices){\n        exists = false;\n        for(let existingDevice of existingDevices){\n            if(newDevice == existingDevice){\n                exists = true;\n                break;\n            }\n        }\n        if(!exists){\n            existingDevices.push(newDevice);\n        } \n    }\n}\nflow.set('devices',existingDevices);\nmsg.payload.devices = existingDevices;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9da7fd56.80fbb",
        "type": "function",
        "z": "f8778ff4.caf6b",
        "name": "Check Devices",
        "func": "var devices = flow.get('devices');\nvar deviceID = msg.payload.addr;\nif(typeof devices == 'undefined')return;\n\nfor(i = 0; i < devices.length; i++){\n    // console.log('device: '+devices[i]+' deviceID: '+deviceID);\n    if(deviceID == devices[i]){\n        msg.payload.address = deviceID;\n        // msg.payload.address = \"00:00:00:00:00:00:ff:ff\"\n        msg.payload.data = [0xF8,0x99,0x00,0x00,0x28];\n        devices.splice(i,1);\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [
            [
                "a86ae21.e9b19a",
                "e5aca4b6.98e108"
            ]
        ]
    },
    {
        "id": "e6d5abf2.b40d8",
        "type": "switch",
        "z": "f8778ff4.caf6b",
        "name": "Vibration Check Valve",
        "property": "payload.sensor_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "82",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 540,
        "wires": [
            [
                "9da7fd56.80fbb",
                "831654f9.5c3818"
            ]
        ]
    },
    {
        "id": "a86ae21.e9b19a",
        "type": "delay",
        "z": "f8778ff4.caf6b",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "b673600b6bff4b6f"
            ]
        ]
    },
    {
        "id": "831654f9.5c3818",
        "type": "debug",
        "z": "f8778ff4.caf6b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "e5aca4b6.98e108",
        "type": "debug",
        "z": "f8778ff4.caf6b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "b673600b6bff4b6f",
        "type": "ncd-gateway-node",
        "z": "f8778ff4.caf6b",
        "name": "",
        "connection": "b7386269.656eb",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 370,
        "y": 540,
        "wires": [
            [
                "e6d5abf2.b40d8"
            ]
        ]
    },
    {
        "id": "b7386269.656eb",
        "type": "ncd-gateway-config",
        "name": "Module",
        "comm_type": "serial",
        "ip_address": "",
        "tcp_port": "2101",
        "port": "/dev/ttyS1",
        "baudRate": "115200",
        "pan_id": "7FFF",
        "rssi": true
    }
]